<a href="https://colab.research.google.com/github/TACH00/Examen1/blob/main/Microretailer_Examen1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install funpymodeling

In [2]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from funpymodeling.exploratory import freq_tbl

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [14]:
#Convertir en Dataframe
df=pd.read_excel('microretailer_mit_lift_lab.xlsx')
df.head()

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,228_store_name,229_store_picture,232_type_of_store,...,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp,235_email
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),19.053536,-98.233822,Eugene’s Compostura,1 Photo,Tailor,...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),19.053561,-98.234142,Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),19.058655,-98.232300,Libélula,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),19.059293,-98.233158,Quality fix,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),19.059585,-98.233864,Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN

In [10]:
#Verificamos información del DataFrame para reconocer las variables que son cuantitativas y cualitativas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Columns: 106 entries, _record_id to 235_email
dtypes: float64(23), int64(2), object(81)
memory usage: 141.7+ KB

Dado que las entradas son demasiadas no podemos visualizar información uno a uno para saber de que tipo son, al menos no tan sencillamente. Ahora, tendré que ir visualizando columna a columna dividiendo el df completo en 5 o 6 que me muestre y despues concatenarlas

In [ ]:
MR1=df.iloc[:,0:40]  #columnas consecutivas 
MR1

In [75]:
#Identificar valores nulos por columna
valores_nulos=MR1.isnull().sum().sum()
valores_nulos

2056

In [53]:
MR1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 40 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   _record_id                                                  171 non-null    object
 1   _title                                                      171 non-null    object
 2   _server_updated_at                                          171 non-null    object
 3   _updated_by                                                 171 non-null    object
 4   _geometry                                                   171 non-null    object
 5   _latitude                                                   171 non-null    float64
 6   _longitude                                                  171 non-null    float64
 7   228_store_name                                              171 non-null    object
 8   229_store_picture                                           171 non-null    object
 9   232_type_of_store                                           171 non-null    object
 10  108_does_the_micro_retailer_has_a_barred_window_            171 non-null    object
 11  99_does_the_micro_retailer_exhibits_products_outside_       171 non-null    object
 12  102_does_the_micro_retailer_sells_fresh_products_           171 non-null    object
 13  97_number_of_customers_in_store                             171 non-null    int64
 14  268_number_fridges                                          168 non-null    float64
 15  184_store_devices                                           171 non-null    object
 16  104_how_many_shelves_does_the_micro_retailer_have           171 non-null    int64
 17  pictures_of_shelves_if_possible                             19 non-null     object
 18  hola_somos_estudiantes_del_tec_de_monterrey_estamos_realiz  171 non-null    object
 19  le_comento_que_toda_esta_informacin_es_confidencial         171 non-null    object
 20  233_date_establishment                                      112 non-null    object
 21  2_current_permanent_employees                               111 non-null    float64
 22  4_number_permanent_employees_last_year                      95 non-null     float64
 23  5_change_store_space_last_year                              99 non-null     object
 24  6_change_employees_average_salary_last_year                 85 non-null     object
 25  20_reviews_finances_monthly                                 108 non-null    object
 26  49_inventory_records                                        110 non-null    object
 27  18_sales_records                                            110 non-null    object
 28  155_sales_registers_used_for                                6 non-null      object
 29  103_number_own_fridges                                      27 non-null     float64
 30  19_tax_id                                                   100 non-null    object
 31  145_number_direct_competitors                               103 non-null    float64
 32  310_burnout                                                 107 non-null    object
 33  24_burnout                                                  38 non-null     float64
 34  186_internet_connection                                     108 non-null    object
 35  210_sales_channels                                          82 non-null     object
 36  189_payment_methods                                         107 non-null    object
 37  28_prefered_payment_method                                  2 non-null      object
 38  31_different_prices_payment_method                          7 non-null      object
 39  269_cash_discount                                           2 non-null      object
dtypes: float64(8), int64(2), object(30)
memory usage: 53.6+ KB

In [ ]:
#Filtro por columnas dejando fuera las 2 mencionadas anteriormente
MR11=MR1.iloc[:,[14,20,21,22,23,24,25,26,27,30,31,32,34,36]] #filas no consecutivas
MR11.head()

In [73]:
MR11=MR11.fillna(method="bfill")

In [74]:
#Identificar valores nulos por columna
valores_nulos=MR11.isnull().sum().sum()
valores_nulos

66

In [ ]:
MR2=df.iloc[:,40:80]  #columnas consecutivas 
MR2

In [76]:
#Identificar valores nulos por columna
valores_nulos=MR2.isnull().sum().sum()
valores_nulos

5087

In [59]:
MR2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 40 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   270_card_extra_charge                              2 non-null      object
 1   271_card_fee                                       0 non-null      float64
 2   272_card_days_receive_money                        44 non-null     float64
 3   273_platform_extra_charge                          0 non-null      float64
 4   274_platform_fee                                   0 non-null      float64
 5   275_platform_days_receive_money                    0 non-null      float64
 6   30_payment_methods_large_purchases                 1 non-null      object
 7   214_customer_relationship_tools                    95 non-null     object
 8   33_credit_to_customers                             107 non-null    object
 9   276_expected_days_informal_credit                  24 non-null     float64
 10  35_interest_rate                                   21 non-null     object
 11  36_credit_default_rate                             14 non-null     float64
 12  38_average_margin_profits                          66 non-null     object
 13  193_sales_planning_tools                           82 non-null     object
 14  227_agreement_ecommerce_platforms                  98 non-null     object
 15  60_services                                        77 non-null     object
 16  315_frequency_topups                               10 non-null     float64
 17  316_frequency_utility_bills                        2 non-null      float64
 18  317_home_deliveries                                17 non-null     float64
 19  62_frequency_only_services                         24 non-null     float64
 20  78_number_home_deliveries_week                     2 non-null      float64
 21  77_delivery_timeslots                              2 non-null      object
 22  79_delivery_vehicle                                2 non-null      object
 23  64_comission_services                              23 non-null     object
 24  66_percentaje_services_income                      22 non-null     object
 25  69_why_not_services                                41 non-null     object
 26  311_topups                                         57 non-null     object
 27  312_payment_of_utilities                           66 non-null     object
 28  313_home_deliveries                                58 non-null     object
 29  314_reception_delivery_packages                    68 non-null     object
 30  42_willingness_share_inventory_data_suppliers      80 non-null     object
 31  44_willingness_inventory_management_suppliers      79 non-null     object
 32  45_willingness_reorder_suppliers                   77 non-null     object
 33  46_willingness_reorder_suppliers_variety           74 non-null     object
 34  47_willingness_reorder_suppliers_lower_prices      69 non-null     object
 35  43_willingness_share_sales_data_suppliers          70 non-null     object
 36  58_willingness_share_sales_data_mse                68 non-null     object
 37  59_willingness_share_sales_data_mse_better_prices  68 non-null     object
 38  172_supplier_frequency                             72 non-null     float64
 39  185_place_orders_suppliers                         71 non-null     object
dtypes: float64(13), object(27)
memory usage: 53.6+ KB

In [81]:
MR22=MR2.fillna(method="ffill")

In [82]:
#Identificar valores nulos por columna
valores_nulos=MR22.isnull().sum().sum()
valores_nulos

1390

In [ ]:
MR3=df.iloc[:,80:120]  #columnas consecutivas 
MR3

In [86]:
#Identificar valores nulos por columna
valores_nulos=MR3.isnull().sum().sum()
valores_nulos

2701

In [62]:
MR3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 26 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   53_special_conditions_suppliers                 47 non-null     object
 1   278_credit_interest                             38 non-null     object
 2   192_procurement_planning_tools                  68 non-null     object
 3   277_payment_method_suppliers                    68 non-null     object
 4   56_procurement_changes_pandemic                 81 non-null     object
 5   279_changes_procurement_pandemic                23 non-null     object
 6   157_frequency_organize_shelves                  96 non-null     object
 7   158_charact_organize_products_on_shelves        92 non-null     object
 8   161_actions_stockouts                           92 non-null     object
 9   162_inventory_extra_space                       89 non-null     object
 10  163_number_high_perishable_products             78 non-null     float64
 11  249_technology_training                         73 non-null     object
 12  250_technology_investment_operations            74 non-null     object
 13  251_technology_investment_customers             73 non-null     object
 14  254_technology_roadmap                          71 non-null     object
 15  260_technology_scalable                         69 non-null     object
 16  261_technology_organization                     69 non-null     object
 17  262_technology_serve_customers                  71 non-null     object
 18  263_technology_secure_sales                     70 non-null     object
 19  264_technology_budget                           70 non-null     object
 20  267_technology_investment_customer_preferences  70 non-null     object
 21  234_willingness_participate_workshop            98 non-null     object
 22  318_shopkeeper_name                             48 non-null     object
 23  319_shopkeepers_last_name                       46 non-null     object
 24  236_whatsapp                                    42 non-null     float64
 25  235_email                                       29 non-null     object
dtypes: float64(2), object(24)
memory usage: 34.9+ KB

In [83]:
MR33=MR3.fillna(method="ffill")

In [85]:
#Identificar valores nulos por columna
valores_nulos=MR33.isnull().sum().sum()
valores_nulos

154

In [68]:
MR4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Empty DataFrame

No funciona toda la base de datos igual, pues no lee una buena parte correctamente

In [ ]:
MicroRetailerLimpio= pd.concat([MR11, MR22, MR33], axis=1)
MicroRetailerLimpio.info()

In [88]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=MicroRetailerLimpio.isnull().sum().sum()
valores_nulos

1610

In [89]:
#Convertir DataFrame a CSV
MicroRetailerLimpio.to_csv("MicroRetailerLimpio.csv")

In [90]:
#descargar archivo filtrado en csv
from google.colab import files 
files.download("MicroRetailerLimpio.csv")

In [ ]:
#Solo logre disminuir el número pues son demasiados